<div class="row">
    <table id="clients_table">
        <tbody>
        <tr class="th">
            <td>User</td>
            <td>Secret</td>
        </tr>            
        {{#each clients}}															 																
            {{> client}}						
        {{/each}}
        </tbody>
    </table>
</div>